html,body{overflow-x:hidden !important}

// imports styles
@import './partials/variables.scss';
@import './partials/breakpoints.scss';
@import './partials/reset.css';

// google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@mixin placeholder {
  &::-webkit-input-placeholder {
      @content;
  }

  &:-moz-placeholder { /* Firefox 18- */
      @content;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
      @content;
  }

  &:-ms-input-placeholder {
      @content;
  }
}

@-webkit-keyframes watchAnimation {
  from { -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg); }
  to   { -webkit-transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}

@-moz-keyframes watchAnimation {
  from { -moz-transform: rotate(0deg) translateX(10px) rotate(0deg); }
  to   { -moz-transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}

@-o-keyframes watchAnimation {
  from { -o-transform: rotate(0deg) translateX(10px) rotate(0deg); }
  to   { -o-transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}

@keyframes watchAnimation {
  from { transform: rotate(0deg) translateX(10px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}

@-webkit-keyframes opacity {
  0%   { opacity: 0.2; }
  50%   { opacity: 1; }
  100% { opacity: 0.2; }
}
@-moz-keyframes opacity {
  0%   { opacity: 0.2; }
  50%   { opacity: 1; }
  100% { opacity: 0.2; }
}
@-o-keyframes opacity {
  0%   { opacity: 0.2; }
  50%   { opacity: 1; }
  100% { opacity: 0.2; }
}
@keyframes opacity {
  0%   { opacity: 0.2; }
  50%   { opacity: 1; }
  100% { opacity: 0.2; }
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: white;
  font-family: var(--main-font);
  color: var(--color-text);
  font-size: 16px;
  &.body--with-footer {
    .main {
      align-items: normal;
    }
  }
}

span {
  font-weight: 300;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

button {
  cursor: pointer;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input, textarea, button, select {
  border: none;
  background: none;
  outline: none;
  border-radius: 0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  font-family: var(--main-font);
}

button {
  cursor: pointer;
}

h1,h2,h3,h4,h5 {
  color: var(--color-black);
}

.container {
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  @include breakpoint(phone) {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  @include breakpoint(tablet-lg) {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }
  @include breakpoint(desktop-lg) {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn {
  color: #000000;
  cursor: pointer;
  &.btn--rounded {
    font-size: 13px;
    background: #FFF;
    display: inline-block;
    border-radius: 50px;
    padding: 15px 25px;
    font-weight: 500;
    text-transform: uppercase;
    &.btn--border {
      border: 1px solid #D8D8D8;
    }
    &.btn--yellow {
      background-color: var(--color-orange);
    }
  }
}

.site-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100px;
  color: #FFF;
  box-shadow: none;
  transition: all .3s ease;
  &.site-header--fixed {
    box-shadow: 0px 1px 17px 2px rgba(0,0,0,0.13);
    background-color: #FFF;
    a, i {
      color: #000;
    }
    button {
      color: #000;
      i {
        color: #000;
      }
    }
  }
  .container {
    display: flex;
    height: 100%;
    align-items: center;
  }
  .site-header__actions {
    button {
      margin-left: 15px;
    }
    i {
      color: #FFF;
      font-size: 18px;
    }
  }
  .site-nav {
    margin-left: auto;
    margin-right: auto;
    a {
      font-size: 14px;
      font-weight: 500;
      margin-right: 76px;
    }
  }
}

.page-intro {
  position: relative;
  .swiper-pagination-progressbar {
    
  }
  .shop-data {
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    position: absolute;
    padding: 36px 30px 30px 30px;
    &:before {
      background: #FFF;
      content: '';
      left: 0;
      bottom: 0;
      top: 0;
      width: 80%;
      display: block;
      z-index: 1;
      border-radius: 0 70px 0 0;
      position: absolute;
    }
    .shop-data__items {
      width: 80%;
      z-index: 10;
      display: flex;
      justify-content: flex-end;
      position: relative;
      li {
        display: flex;
        margin-left: 80px;
        i {
          margin-right: 27px;
          height: 39px;
          width: 39px;
          font-size: 13px;
          flex-shrink: 0;
          display: flex;
          border-radius: 10px;
          color: var(--color-orange);
          background: var(--color-orange-light);
          justify-content: center;
          align-items: center;
        }
        .data-item__content {
          h4 {
            font-size: 14px;
            margin-bottom: 7px;
          }
          p {
            font-size: 12px;
            line-height: 135%;
          }
        }
      }
    }
  }
  .page-intro__slide {
    height: 90vh;
    position: relative;
    background-color: #FAFAFA;
    &:before {
      content: '';
      left: 0;
      z-index: 5;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0,0,0, 0.2);
    }
    .container {
      z-index: 10;
      display: flex;
      position: relative;
      align-items: center;
      height: 100%;
    }
    .page-intro__slide__content {
      margin-bottom: 80px;
      h2 {
        font-size: 64px;
        color: #FFF;
        font-weight: 600;
        line-height: 120%;
        width: 600px;
        margin-bottom: 25px;
      }
      .btn-shop {
        display: flex;
        color: #FFF;
        align-items: center;
        i {
          justify-content: center;
          align-items: center;
          display: flex;
          width: 40px;
          height: 40px;
          color: #FFF;
          font-size: 15px;
          margin-right: 10px;
          background-color: var(--color-orange);
          border-radius: 100%;
        }
      }
    }
  }
}

.featured {
  padding: 70px 0 92px 0;
  .container {
    display: grid;
    grid-gap: 34px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "\31  \31  \31  \31  \31  \31  \32  \32  \32  \33  \33  \33 ";
  }
  .featured-item-large {
    grid-area: \31 ; 
  }
  .featured-item-small-first { 
    grid-area: \32 ; 
  }
  .featured-item-small { 
    grid-area: \33 ; 
  }
  .featured-item {
    height: 375px;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 55px 46px;
    position: relative;
    &:before {
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      height: 100%;
      position: absolute;
      background: rgba(0,0,0, 0.23);
    }
    .featured-item__content {
      margin-top: auto;
      position: relative;
      z-index: 2;
      h3 {
        font-weight: 400;
        font-size: 23px;
        color: #FFF;
        margin-bottom: 20px;
        line-height: 150%;
      }
    }
  }
}

.product-item {
  .product__image {
    height: 385px;
    padding: 24px;
    background-color: #FAFAFA;
    margin-bottom: 30px;
    .product__discount {
      color: #FFF;
      padding: 5px 9px;
      border-radius: 40px;
      font-weight: 500;
      font-size: 12px;
      background-color: var(--color-red);
    }
  }
  .product__description {
    h3 {
      margin-bottom: 7px;
      font-weight: 300;
    }
    .product__price {
      h4 {
        font-weight: 400;
        font-size: 20px;
      }
    }
  }
}

.section-products-featured {
  .section-products-featured__header {
    display: flex;
    align-items: center;
    margin-bottom: 65px;
    justify-content: space-between;
    h3 {
      font-weight: 300;
      font-size: 29px;
    }
  }
}

.subscribe {
  .subscribe__content {
    background-color: #FAFAFA;
    padding: 80px 125px 80px 105px;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &:before {
      content: '';
      width: 100%;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0,0,0, 0.4);
    }
    * {
      z-index: 10;
      position: relative;
    }
    h4 {
      font-size: 26px;
      color: #FFF;
      line-height: 130%;
      width: 504px;
      margin-right: auto;
    }
    .subscribe__form {
      input {
        height: 48px;
        padding: 0 35px;
        color: #ABABAB;
        font-size: 13px;
        background-color: #FFF;
        border-radius: 30px;
        margin-right: 25px;
      }
    }
  }
}

.section {
  margin-bottom: 150px;
  .section__intro {
    margin-bottom: 93px;
    h4 {
      font-size: 29px;
      font-weight: 300;
      text-align: center;
    }
  }
}

.site-footer {
  padding-top: 90px;
  .site-footer__top {
    display: flex;
    padding-bottom: 50px;
  }
  .site-footer__description {
    width: 400px;
    margin-right: auto;
    h6 {
      margin-bottom: 33px;
    }
    p {
      font-size: 13px;
      line-height: 190%;
    }
  }
  .site-footer__social-networks {
    display: flex;
    margin-top: 20px;
    li {
      font-size: 21px;
      margin-right: 25px;
    }
  }
  .site-footer__links {
    display: flex;
    ul {
      margin-right: 99px;
      &:last-of-type {
        margin-right: 0;
      }
      li {
        font-size: 14px;
        color: #000;
        margin-bottom: 15px;
        &:first-child {
          font-weight: 600;
          margin-bottom: 34px;
        }
      }
    }
  }
  .site-footer__bottom {
    padding: 33px 0;
    border-top: 1px solid #EBEBEB;
    .container {
      text-align: center;
    }
  }
}

.shop-data-items {
  display: flex;
  justify-content: space-between;
  li {
    width: 22%;
    i {
      height: 70px;
      width: 70px;
      font-size: 20px;
      flex-shrink: 0;
      display: flex;
      border-radius: 10px;
      color: var(--color-orange);
      background: var(--color-orange-light);
      justify-content: center;
      align-items: center;
      margin-bottom: 43px;
    }
    .data-item__content {
      h4 {
        margin-bottom: 20px;
      }
      p {
        font-size: 13px;
        line-height: 150%;
      }
    }
  }
}