:root {
  // fonts
  --main-font: 'Poppins';
  --font-title: 'Archivo';

  // colors
  --color-orange: #FBB03B;
  --color-orange-light: #FFF3DF;
  --color-black: #333333;
  --color-text: #868686;
  --color-white: #FFFFFF;
  --color-gray: #706c61;
  --color-red: #FF0000;
}

@mixin inputPlaceholder() {
  $selector: '';
  $prefixes: (
      moz: "::-moz",
      webkit: "::-webkit",
      ie: ":-ms"
  );
  @each $prop, $value in $prefixes {
      @if $prop != "moz" {
          $selector: #{$value}-input-placeholder;
      } @else {
          $selector: #{$value}-placeholder;
      }
      @if & {
          &#{$selector} {
              @content;
          }
      } @else {
          #{$selector} {
              @content;
          }
      }
  }
  &::placeholder {
    @content;
  }
}
